.item {
  background-color: #8f552f;
  border-radius: 8px;
  box-shadow: 2px 4px 4px #0000009F;
  padding: 12px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;

  h3 {
    margin-bottom: 8px;
    word-break: break-all;
  }

  span {
    color: #D0D0D0;
  }

  @media screen and (min-width:1280px) {
    font-size: 1.8rem;
  }
}

.itemSelecionado {
  background-color: #92420d;
  box-shadow: 2px 4px 4px #0000009F inset;
}

.itemCompletado {
  background-color: #436824;
  cursor: auto;

  .concluido {
    display: block;
    background-image: url('../../../assets/img/check-mark.svg');
    background-repeat: no-repeat;
    background-size: 38px 38px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 42px;
    height: 43px;
  }
}

.taskContainer{
  position: relative;

  .excludeContainer{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 2px;
    z-index: 999;
    cursor: pointer;

    &:hover{
      scale: 1.1;
      color: #db0909 ;
      background-color: #fff;
      border: 1px solid #db0909 ;
      transition: all ease-in-out 0.2s;
    } 

    .excludeBtn {
      font-size: 18px;
      color: #6b1010;
      margin-top: 5px;

      &:hover{
        color: #db0909 ;
        transition: all ease-in-out 0.2s;
      } 
    }

  }
  
}
